header!= partial('header')
nav!= partial('nav')
article
	dl
		dt OVERVIEW
		dd
			span.emphasis A serial entrepreneur 
			| who builds and leads teams in the design,
			| development, launch and operation of innovative Web
			| businesses. Currently leading R&amp;D at Elsevier, the world's largest
			| publisher of medical and scientific information.
		dt EDUCATION
		dd
			span.emphasis Carnegie-Mellon University, 
			| B.S., Applied Mathematics, 1982.
		dt EXPERIENCE
		dd
			span.emphasis Elsevier B.V., Vice President, Elsevier Labs, 
			| 2009 - present. Leads Elsevier Technology Services' research and
			| development efforts, helping groups within Elsevier plan, design, and
			| build advanced technologies into products in support of Elsevier's
			| strategic plans.
		dd
			span.emphasis Siderean Software, Inc., Founder and CTO, 
			| 2001 - 2008. Led company as CEO from founding until raising a first
			| venture round in 2004. A semantic search company, Siderean was
			| recognized in 2007 as a visionary in Gartner's Magic Quadrant for
			| Enterprise Information Access and as one of KM World's 100 Companies
			| That Matter in Knowledge Management. Siderean's assets were acquired by
			| Open Text Corporation in May 2011.
		dd
			span.emphasis TriVida Corporation, Founder and CTO, 
			| 1997 - 2001. Created technology and led product development at a
			| web site cross-sell/up-sell personalization software-as-a-service
			| startup. TriVida was sold to Be Free, Inc. (now ValueClick, Inc.) in
			| March 2000.
		dd
			span.emphasis Limbex Corporation, Founder and CTO, 
			| 1995 - 1996. Designed and led the development of WebCompass, an
			| Internet search assistant that won Byte Magazine's Best Of Show award
			| at COMDEX Fall 95. Limbex was sold to Quarterdeck Corporation (now
			| Symantec Corporation) in August 1996.
		dd
			span.emphasis Inference Corporation, Vice President, Applications Development, 
			| 1991 - 1995. Created CBR Express, the first case-based problem
			| resolution solution for the CRM market. Inference became a public
			| company in June 1995. 
			span.emphasis Director of Advanced Technology, 
			| 1987 - 1991. Managed a profit center conducting
			| research projects funded by NASA and DARPA. 
			span.emphasis Senior Computer Scientist, 
			| 1984 - 1987. Principal member of the team that designed and developed ART,
			| one of the first commercial expert system development environments.
		dd
			span.emphasis Robotics Institute, Carnegie-Mellon University, Senior Research Programmer, 
			| 1982 - 1984. Designed and developed knowledge-based scheduling systems
			| and frame-based knowledge representation languages at the Institute's
			| Intelligent Systems Laboratory.
		dt RECENT TALKS
		dd
			| 2012-02-01: Association of American Publishers PSP Pre-Conference 2012, 
			| Washington, D.C.: 
			a(href="http://www.slideshare.net/bpa777/smart-content-aap-psp-2012-0201-rev-1") Smart Content
			| .
		dd
			| 2011-12-06: W3C Workshop on Linked Enterprise Data Patterns, 
			| Cambridge, MA: 
			a(href="http://www.slideshare.net/bpa777/ledp2011-v3") Linked Data Standards and Infrastructure for Scientific Publishing
			| .
		dd
			| 2011-09-19: Society for Scholarly Publishing
			| IN Conference, Alexandria, VA: 
			a(href="http://www.slideshare.net/bpa777/ssp-in-2011-0919") Innovation and the STM Publisher of the Future
			| .
		dd
			| 2011-08-25: NoSQL Now 2011 Conference, San Jose, CA: 
			a(href="http://www.slideshare.net/bpa777/nosql-technologies-from-an-stm-publishing-perspective") NoSQL Technologies from an STM Publishing Perspective
			| .
		dd
			| 2011-08-25: NoSQL Now 2011 Conference, San Jose, CA: 
			a(href="http://www.slideshare.net/bpa777/experience-with-marklogic-at-elsevier") Experience with MarkLogic at Elsevier
			| .
		dd
			| 2011-01-25: Software &amp; Information Industry
			| Association Information Industry Summit, New York, NY: Panel on
			| "Semantic Technology: the Future is Now."
		dd
			| 2010-06-04: Society for Scholarly Publishing
			| 32nd Annual Meeting, San Francisco, CA: Panel on "Semantic Technology:
			| New Tools &amp; New Rules for Search + Visualization."
		dt U.S. PATENTS
		dd
			a(href="http://www.google.com/patents?id=6xp9AAAAEBAJ") 7,146,362
			|. Method and apparatus for using faceted metadata to navigate through information resources.
		dd
			a(href="http://www.google.com/patents?id=SGwEAAAAEBAJ") 6,078,918
			|. Online predictive memory.
		dd
			a(href="http://www.google.com/patents/about?id=5dEEAAAAEBAJ") 5,852,814
			|. Autonomous learning and reasoning agent.
		dd
			a(href="http://www.google.com/patents/about?id=AaYhAAAAEBAJ") 5,586,218
			|. Autonomous learning and reasoning agent.
		dd
			a(href="http://www.google.com/patents/about?id=lyUpAAAAEBAJ") 5,581,664
			|. Case-based reasoning system.
		dt REFEREED PUBLICATIONS
		dd
			| Bradley P. Allen, Valery A. Petrushin: 
			a(href="http://www-nlpir.nist.gov/projects/tvpubs/tv5.papers/accenture.pdf") Searching for Relevant Video Shots in BBC Rushes Using Semantic Web Techniques.
			|  Proceedings of the TRECVID 2005 Workshop.
		dd
			| Bradley P. Allen, Joseph T. Tennis: 
			a(href="http://portal.acm.org/citation.cfm?id=996478") Building metadata-based navigation using semantic Web standards: the Dublin Core 2003 Conference Proceedings.
			|  Proceedings of the 2004 Joint ACM/IEEE Conference on Digital Libraries: 411.
		dd
			| Brad Allen, John Jensen, Jay Nelson, Brian Ulicny, Kristina Lerman, Linda Rudell-Betts: 
			a(href="http://portal.acm.org/citation.cfm?id=243199.243289") WebCompass: an agent-based metasearch and metadata discovery tool for the Web.
			|  SIGIR '96: 339.
		dd
			| Bradley P. Allen: 
			a(href="http://portal.acm.org/citation.cfm?id=175247.175250") Case-Based Reasoning: Business Applications.
			|  Communications of the ACM 37(3): 40-42 (1994.)
		dd
			| Bradley P. Allen, S. Daniel Lee:
			a(href="http://portal.acm.org/citation.cfm?id=74602") A Knowledge-Based Environment for the Development of Software Parts Composition Systems.
			|  ICSE 1989: 104-112.
		dd
			| S. Daniel Lee, Bradley P. Allen:
			a(href="http://portal.acm.org/citation.cfm?id=74274") Deploying expert systems in Ada.
			|  TRI-Ada '89: 181-190.
		dd
			| Bradley P. Allen, J. Mark Wright: 
			a(href="http://portal.acm.org/citation.cfm?id=1623373.1623451") Integrating Logic Programs and Schemata.
			|  IJCAI 1983: 340-342.
		dd
			| Mark S. Fox, Bradley P. Allen, Gary Strohm: 
			a(href="http://www.eil.utoronto.ca/scheduling/papers/fox-AAAI82.pdf") Job-Shop Scheduling: An Investigation in Constraint-Directed Reasoning.
			|  AAAI 1982: 155-158.
footer