head
	meta(charset='UTF-8')
	meta(name="viewport", content="user-scalable=no width=device-width")
	link(rel='stylesheet', href='/stylesheets/base.css', type="text/css", media="screen and (min-device-width: 481px)")
	link(rel='stylesheet', href='/stylesheets/print.css', type="text/css", media="print")
	link(rel='stylesheet', href='/stylesheets/iphone.css', type="text/css", media="only screen and (max-device-width: 480px)")
	link(rel="icon", type="image/jpeg", href="http://en.gravatar.com/userimage/7052713/ec354571a819bd73c7c1d08b54df497a.jpg?s=16")
	title= title