body {
  background: #303030;
  color: #606060;
  font: Normal 11px Arial, Helvetica, sans-serif;
  line-height: 16px;
  margin: 0 auto;
  padding: 0 auto;}

header, footer, aside, nav, article, section {
  display: block;
  background: white;
  width: 480px;
  margin-left: 60px;
  padding-top: 5px;
  padding-bottom: 1px;}

a {
  color: #777;}

a:hover {
  color: #000;}

h1 {
  font-size: 24px;}

h2 {
  font-size: 18px;}

header {
  padding-right: 20px;
  padding-left: 20px;}

nav {
  padding-right: 20px;
  padding-left: 20px;}

nav ul {
  display: table-row;}

nav ul li {
  display: table-cell;
  padding-right: 10px;}

nav ul li a {
  text-align: center;}

nav ul li.selected a {
  color: #000;}

article {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;}

dl {
  margin: 0px;}

dt {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: solid 1px #d0d0d0;}

dd {
  margin-left: 0px;
  padding-top: 5px;}

span.emphasis {
  font-weight: bold;}

aside {
  float: left;
  margin-right: 20px;}

footer {
  background: #c0c0c0;
  height: 20px;
  padding-right: 20px;
  padding-left: 20px;}

footer ul {
  display: table-row;}

footer ul li {
  display: table-cell;
  padding-right: 10px;}

footer ul li a {
  text-align: center;
  text-decoration: none;}

footer ul li.selected a {
  color: #000;}
